<mat-sidenav-container>
  <!--  Sidenav -->
  <mat-sidenav #sidenav>
    <div class="snav-wrapper">
      <div class="snav-container">
        <ul class="snav-ul">
          <li><a (click)="sidenav.toggle()" routerLink='/home'>Home</a></li>
        </ul>
        <hr>
        <ul class="snav-ul">
          <li><a (click)="sidenav.toggle()" routerLink='/new-config-wizard'>New Config</a></li>
          <li><a (click)="sidenav.toggle()" routerLink='/runtime-monitoring-wizard'>Runtime Monitoring</a></li>
          <li><a (click)="sidenav.toggle()" routerLink='/manage-sum-types'>Manage SuM Types</a></li>
        </ul>
        <hr>
        <ul class="snav-ul">
          <li><a (click)="sidenav.toggle()" routerLink='/about'>About</a></li>
          <li><a (click)="sidenav.toggle()" routerLink='/legal-notice'>Legal Notice</a></li>
          <li><a (click)="sidenav.toggle()" routerLink='/impress'>Impress</a></li>
        </ul>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header-bar">
      <div class="example-sidenav-content">
        <button mat-icon-button onclick="this.blur()" class="menu-btn" aria-label="Icon-button with menu icon"
                (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span class="title"><a routerLink='/home'>Flexible Runtime Monitoring for ROS</a></span>
      <span class="dummy-spacer"></span>
    </mat-toolbar>

    <!--  Content -->
    <div class="wrapper">

      <!-- Page Content  -->
      <main>
        <router-outlet></router-outlet>
      </main>

      <!-- sticky footer -->
      <div class="push"></div>
    </div>
    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
