<mat-sidenav-container>
  <!--  Sidenav -->
  <mat-sidenav #snav>
    <div class="snav-wrapper">
      <div class="snav-container">
        <ul class="snav-ul">
          <li><a routerLink='/home' (click)="snav.toggle()">Home</a></li>
        </ul>
        <hr>
        <ul class="snav-ul">
          <li><a routerLink='/new-config-wizard' (click)="snav.toggle()">New Config</a></li>
          <li><a routerLink='.' (click)="snav.toggle()">Runtime Monitoring</a></li> <!--TODO: implement-->
        </ul>
        <hr>
        <ul class="snav-ul">
          <li><a (click)="snav.toggle()" routerLink='/about'>About</a></li>
          <li><a (click)="snav.toggle()" routerLink='/legal-notice'>Legal Notice</a></li>
          <li><a (click)="snav.toggle()" routerLink='/impress'>Impress</a></li>
        </ul>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header-bar">
      <div class="example-sidenav-content">
        <button mat-icon-button onclick="this.blur()" class="menu-btn" aria-label="Icon-button with menu icon"
                (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span class="title"><a routerLink='/home'>Flexible Runtime Monitoring for ROS</a></span>
      <span class="dummy-spacer"></span>
    </mat-toolbar>

    <!--  Content -->
    <div class="wrapper">

      <!-- Page Content  -->
      <main>
        <router-outlet></router-outlet>
      </main>

      <!-- sticky footer -->
      <div class="push"></div>
    </div>
    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
