<div class="imp-container">
  <p>
    Created by Marco Stadler as part of the master thesis at the JKU with the title
  </p>

  <p>
    Title comes here ....
  </p>

  <p>
    Supervisor: Michael Vierhauser, Iris Groher
  </p>

  <p>
    Johannes Kepler University Linz<br>
    Altenberger Straße 69<br>
    4040 Linz, Austria<br>
    Telephone: +43 732 2468 0<br>
    Fax: +43 732 2468 4929
  </p>

  <img src="assets/img/JKU_Logo.png" alt="JKU Logo">


  <a href="https://www.flaticon.com/free-icons/research" title="research icons">Research icons created by Smartline - Flaticon</a>
</div>
