<div>
  <div *ngIf="this.showProgressBar" class="progress-spinner-container">
    <!--    <mat-spinner></mat-spinner>-->
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-stepper linear #stepper>
    <!-- ########## STEP 1 ########## -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="form-container">
        <ng-template matStepLabel>Select SuM</ng-template>
        <mat-selection-list #sums [multiple]="false" class="selection-container">
          <mat-list-option *ngFor="let sum of this.possibleSums" [value]="sum">
            {{sum}}
          </mat-list-option>
        </mat-selection-list>
        <div>
          <button mat-raised-button (click)="goToStepTwoButtonClicked(sums, stepper)" onclick="this.blur()">Next Step
          </button>
        </div>
      </form>
    </mat-step>

    <!-- ########## STEP 2 ########## -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Property Specification</ng-template>
        <h1>{{this.selectedSum}}</h1>
        <div class="tree-container">
          <div *ngFor="let leafProperty of treeData; let i = index" class="panel">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <div class="panel-header-container">
                  <mat-panel-title>
                    {{leafProperty.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{leafProperty.dataType}}
                  </mat-panel-description>
                </div>
              </mat-expansion-panel-header>
              <div class="panel-content-container">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Frequency in seconds</mat-label>
                  <input matInput (change)="onFrequencyChange($event, i)" placeholder="e.g., 2.5">
                  <mat-error
                    *ngIf="FREQUENCY_FORM_CONTROL.hasError('float') && !FREQUENCY_FORM_CONTROL.hasError('required')">
                    Please enter a valid frequency (float or number)
                  </mat-error>
                  <mat-error *ngIf="FREQUENCY_FORM_CONTROL.hasError('required')">
                    Frequency is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <h3 class="label-form-heading">Select (sub-)properties to monitor:</h3>
                <div class="property-tree">
                  <div class="leaf-node-container">
                    <ul class="property-leaf-list">
                      <li class="property-leaf-list-item">
                        <mat-checkbox class="prop-checkbox"
                                      [checked]="leafProperty.isChecked"
                                      (change)="onCheckboxChange($event, leafProperty.index, leafProperty.index)"
                                      [id]="getCcheckBoxIdString(leafProperty.index)"
                        >
                          <span class="prop-name-container">{{leafProperty.name}}:</span>
                          <span class="prop-type-container">{{leafProperty.dataType}}</span>
                        </mat-checkbox>
                      </li>
                      <ul *ngIf="leafProperty.isExpandable" class="property-sub-list">
                        <ng-container
                          *ngTemplateOutlet="Recursion; context:{ list: leafProperty.children, parentNode: leafProperty.index}"
                        ></ng-container>
                      </ul>
                    </ul>
                    <ng-template #Recursion let-list="list" let-parentNode="parentNode">
                      <li *ngFor="let item of list">
                        <mat-checkbox class="prop-checkbox"
                                      [checked]="item.isChecked"
                                      (change)="onCheckboxChange($event, item.index, parentNode)"
                                      [id]="getCcheckBoxIdString(item.index)"
                                      [name]="getCcheckBoxIdString(parentNode)"
                        >
                          <span class="prop-name-container">{{item.name}}:</span>
                          <span class="prop-type-container">{{item.dataType}}</span>
                        </mat-checkbox>
                        <ul *ngIf="item.isExpandable" class="property-sub-list">
                          <ng-container
                            *ngTemplateOutlet="Recursion; context:{ list: item.children, parentNode: item.index }"
                          ></ng-container>
                        </ul>
                      </li>
                    </ng-template>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
        <div>
          <!-- TODO: Add refresh buttons -->
          <!-- TODO: refresh vars in onClick function for previous button -->
          <button mat-raised-button matStepperPrevious onclick="this.blur()" class="prev-button">Previous Step</button>
          <button mat-raised-button matStepperNext onclick="this.blur()" (click)="goToStepThreeButtonClicked(stepper)">
            Next Step
          </button>
        </div>
      </form>
    </mat-step>

    <!-- ########## STEP 3 ########## -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button matStepperPrevious onclick="this.blur()">Previous Step</button>
        <button mat-raised-button (click)="stepper.reset()" onclick="this.blur()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
