$tree-margin: 5em;


.form-container, .selection-container {
  margin: 1em 0;
}

.selection-container {
  text-align: center;
}

.prev-button {
  margin-right: 1em;
}

.tree-container {
  margin-bottom: 1em;

  .panel-header-container {
  }

  .panel-content-container {
    .label-form-heading {
      font-weight: 500;
      font-size: 1em;
    }

    .property-tree {
      .leaf-node-container {
        .property-leaf-list {
          .property-sub-list {
            margin-left: $tree-margin;
          }

          .prop-name-container {
            margin-right: 1em;
            text-decoration: underline;
          }

          .prop-type-container {

          }

          .property-leaf-list-item {
            .prop-checkbox {
            }
          }
        }
      }
    }
  }
}

.label-emph {
  font-size: 1.25em;
  font-weight: 500;
}

.form-container-three {
  margin: 3em 0;


  .sum-type-selection-container {
    margin-top: 4em;
  }

  .save-type-selection, .sum-type-selection {
    display: flex;
    flex-direction: column;

    .sc-radio-button, .st-radio-button {
      margin: 1em;
    }
  }
}
