.heading-container {
  text-align: center;

  h2 {
    font-weight: 400;
    font-size: 1.5em;
  }
}

.config-table {
  width: 100%;

  .mat-row {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.config-editor-container {
  .edit-config-form {
    .config-form-field {
      width: 100%;
      margin: 1.5em 0;

      .topic-selection-textarea {
        font-family: monospace;
      }
    }
  }
}


.add-button {
  background-color: seagreen;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  padding: 0.25em 0.75em;

  i {
    font-size: 1.25em;
  }

  .save-button-label {
    margin-left: 0.5em;
  }
}
