
html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  border: none;
  outline: none;
  color: inherit;

  &:hover, &:visited {
    text-decoration: none;
    border: none;
    outline: none;
    color: inherit;
  }
}


