.outer-dialog-container {
  .heading {
    font-weight: lighter;

    .span-str {
      margin-left: 0.5em;
    }
  }

  .accordion-container {
    max-height: 50vh;
    overflow-y: scroll;

    .panel-container {
      margin: 0.5em 0;

      .topic-name {
        font-weight: 500;
      }

      .topic-data {
        font-weight: 100;
      }
    }
  }


  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

